body{
	background: linear-gradient(rgba(236, 136, 166, 0.2), #9198e5);
	/* background: linear-gradient(rgb(197, 222, 226), rgb(255, 254, 168));
	background: linear-gradient(rgb(253, 118, 52), rgb(117, 43, 42));
	background: linear-gradient(rgba(45, 79, 107, 1), rgba(10, 41, 86, 0.92),rgba(6, 9, 26, 0.93)); */
}